$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-hover-bg: inherit;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-color: #fff;
$nav-link-padding: 10px 10px;
$border-radius-base: 0;
$screen-sm: 767px;
// $screen-xs-max: 768px;
// $screen-tablet: 768px;
// $$screen-sm-min: 768px;
